* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  height: 100vh;
  display: grid;
  place-items: center;
}
.eyes {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.eye {
  --duration: 20s;
  height: 265px;
  width: 460px;
  background-color: white;
  border-radius: 7% 100% 3% 100%;
  transform: rotate(-7deg);
  border: solid black;
  border-width: 14px 5px 4px 9px;
  box-shadow: inset 0px 5px 30px black;
  position: relative;
  overflow: hidden;
}
.rigth-eye {
  transform: rotate(7deg) rotateY(180deg);
}

.iris {
  position: absolute;
  top: 12%;
  left: 30%;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50% -50%);
  animation: pupil-contract var(--duration) linear infinite;
}
.shine {
  top: 20%;
  left: 38%;
  z-index: 4;
  width: 50px;
  height: 20px;
  filter: blur(1px);
  border-radius: 50%;
  position: absolute;
  background-color: #fff9;
  transform: rotate(-35deg);
}

.right--shine {
  left: 56%;
  transform: rotate(45deg);
  top: 24%;
}

.pupil {
  z-index: 2;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 30px 3px black;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.iris-lines {
  inset: 0;
  width: 190px;
  height: 190px;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  background: repeating-conic-gradient(
    #0000 0deg 7deg,
    #0003 8deg 10deg,
    #ffffff12 10deg 12deg
  );
}
@keyframes pupil-contract {
  0%,
  20%,
  96%,
  100% {
    background-color: black;
    box-shadow: inset 0 0 10px black;
  }

  25%,
  94% {
    background-color: #ed0924;
    box-shadow: inset 0 0 28px #ff123c88;
  }
}
.arm {
  inset: 0;
  position: absolute;
  transform: rotate(var(--angle));
}
.arm:nth-child(1) {
  --angle: 0deg;
}
.arm:nth-child(2) {
  --angle: 120deg;
}
.arm:nth-child(3) {
  --angle: 240deg;
}
.arm:nth-child(1) {
  animation: first-tomoe var(--duration) linear infinite;
}
.arm:nth-child(2) {
  animation: second-tomoe var(--duration) linear infinite;
}
.arm:nth-child(3) {
  animation: third-tomoe var(--duration) linear infinite;
}
.tomoe {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 88'%3E%3Cpath fill='%23090509' d='M34 2 C23 17 24 28 39 31 C54 32 63 44 61 59 C59 75 45 83 30 80 C14 78 7 67 9 51 C10 32 20 13 34 2 Z'/%3E%3C/svg%3E")
    center / contain no-repeat;
  height: 50px;
  width: 50px;
  /* transform: translate(360% , 100%); */
}
@keyframes first-tomoe {
  0%,
  26% {
    opacity: 0;
  }
  30%,
  75% {
    opacity: 1;
  }
  79%,
  100% {
    opacity: 0;
  }
}
@keyframes second-tomoe {
  0%,
  31% {
    opacity: 0;
  }
  35%,
  80% {
    opacity: 1;
  }
  89%,
  100% {
    opacity: 0;
  }
}
@keyframes third-tomoe {
  0%,
  36% {
    opacity: 0;
  }
  40%,
  85% {
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}
.iris-lines,
.orbit-ring {
  opacity: 0;
  animation: reveal-details var(--duration) ease infinite;
}
@keyframes reveal-details {
  0%,
  20%,
  96%,
  100% {
    opacity: 0;
  }

  25%,
  94% {
    opacity: 1;
  }
}
.orbit-ring {
  height: 120px;
  width: 120px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid black;
  z-index: 2;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  animation: spinner var(--duration) linear infinite;
}
@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  85%,
  100% {
    transform: translate(-50%, -50%) rotate(2880deg);
  }
}
.close {
  position: absolute;
  z-index: 16;
  background-color: black;
  transform: translateY(-101%);
  animation: close var(--duration) ease-out infinite;
  width: 1200px;
  height: 300px;
  border-radius: 0 0 100% 100%;
}
@keyframes close {
  0%,
  15% {
    transform: translateY(-98%);
  }
  20%,
  25% {
    transform: translateY(0%);
  }
  28%,
  91% {
    transform: translateY(-98%);
  }
  93%,
  98% {
    transform: translateY(0%);
  }
}
